/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
}

.center-form-container {
  width: 40%;
  margin: 1% 29% 0;
}


.add-to-cart-button {
  background-color: #F7CA00;
  text-align: center;
  border: none;
  border-radius: 1rem;
  width: 100%;
}

.fa-solid {
  color: white;
}
