<header class="main-header">
  <div class="logo" routerLink='/user/login'>
    <i class="fa-solid fa-store-alt"></i>
  </div>
  <div class="mobile-nav" (click)="showMobileNav()">
    <i class="fa-solid fa-align-justify"></i>
  </div>
  <nav class="main-nav">
    <div class="left-nav">
      <div class="main-nav-item deliver-to">
        <span>Deliver To </span>
        <span><b>Egypt</b></span>
      </div>

    </div>
    <div class="middle-nav">
      <form id="searchForm" class="search-form">
        <label for="searchTerm" hidden></label>
        <input type="text"
               id="searchTerm"
               name="searchTerm"
               required
        >
      </form>
      <div>
        <button class="search-icon-container search-button">
          <i class="fa-solid fa-search search-icon"></i>
        </button>
      </div>
    </div>
    <div class="right-nav nav-border">
      <div *ngIf="!loggedIn else userInfo" class="main-nav-item"><a href="/user/login">Login</a></div>
      <ng-template class="main-nav-item" #userInfo>
        <div class="dropdown show signed-up-dropdown main-nav-item">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome {{currentLoggedInUser.displayName}}
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/basket">Basket</a>
            <a class="dropdown-item" href="/orders">Your Orders</a>
            <a class="dropdown-item" routerLink="/" (click)="logOut($event)">Log Out</a>
          </div>
        </div>
      </ng-template>
      <div class="nav-orders main-nav-item">
        <button class="nav-button">
          Orders
        </button>
      </div>
      <div class="cart-container main-nav-item">
        <div
          *ngIf="cart && cart.totalProductsCount > 0"
          class="cart-products-count">
          <b>{{cart.totalProductsCount}}</b>
        </div>

        <i class="fa-solid fa-cart-flatbed cart-icon"></i>
      </div>
    </div>
  </nav>
</header>
